$light-bg: hsl(36, 39%, 88%);
$light-text: hsl(36, 45%, 15%);
$light-primary: hsl(36, 45%, 70%);
$light-primary-foreground: hsl(36, 45%, 11%);
$light-secondary: hsl(40, 35%, 77%);
$light-secondary-foreground: hsl(36, 45%, 25%);
$light-accent: hsl(36, 64%, 57%);
$light-accent-foreground: hsl(36, 72%, 17%);
$light-destructive: hsl(0, 84%, 37%);
$light-destructive-foreground: hsl(0, 0%, 98%);
$light-muted: hsl(36, 33%, 75%);
$light-muted-foreground: hsl(36, 45%, 25%);
$light-card: hsl(36, 46%, 82%);
$light-card-foreground: hsl(36, 45%, 20%);
$light-popover: hsl(0, 0%, 100%);
$light-popover-foreground: hsl(240, 10%, 3.9%);
$light-border: hsl(36, 45%, 60%);
$light-input: hsl(36, 45%, 60%);
$light-ring: hsl(36, 45%, 30%);
