$ocean-bg: hsl(210, 100%, 6%);
$ocean-text: hsl(180, 100%, 90%);
$ocean-primary: hsl(200, 100%, 28%);
$ocean-primary-foreground: hsl(180, 100%, 90%);
$ocean-secondary: hsl(203, 23%, 30%);
$ocean-secondary-foreground: hsl(180, 100%, 90%);
$ocean-accent: hsl(198, 70%, 50%);
$ocean-accent-foreground: hsl(185, 10%, 13%);
$ocean-destructive: hsl(0, 98%, 44%);
$ocean-destructive-foreground: hsl(0, 0%, 100%);
$ocean-muted: hsl(200, 50%, 30%);
$ocean-muted-foreground: hsl(180, 100%, 90%);
$ocean-card: hsl(210, 100%, 12%);
$ocean-card-foreground: hsl(180, 100%, 90%);
$ocean-popover: hsl(210, 100%, 15%);
$ocean-popover-foreground: hsl(180, 100%, 90%);
$ocean-border: hsl(210, 50%, 40%);
$ocean-input: hsl(210, 50%, 40%);
$ocean-ring: hsl(180, 100%, 90%);
